
@import url("https://fonts.googleapis.com/css?family=Gothic+A1");

:root{
  --brand-blue: #637EF7;
  --shadow-blue: #506be5;
  --background-blue: #F7F8FC;
  --border-grey: #F1F3F5;
  --main-font: 'Gothic A1', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

#container{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#left-box{
  width: 15%;
}

#right-box{
  flex: 1;
  background-color: var(--background-blue);
}

#time-tracker{
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2.5%;
  background-color: white;
  border-radius: 2px;
}
