
@import url("https://fonts.googleapis.com/css?family=Gothic+A1");

:root{
  --brand-blue: #637EF7;
  --shadow-blue: #506be5;
  --background-blue: #F7F8FC;
  --border-grey: #dcdcdc;;
  --text-grey: #9194A1;
  --main-font: 'Gothic A1', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  text-rendering: optimizeLegibility;
}

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#container{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#left-box{
  width: 15%;
}

#right-box{
  flex: 1;
  background-color: var(--background-blue);
}

#time-tracker{
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2.5%;
  border-radius: 2px;
  background-color: white;
}

/* Modals CSS */

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 45vh;
  height: auto;
  border-radius: 5px;
}

.modal-active{
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
