
@import url("https://fonts.googleapis.com/css?family=Gothic+A1");

:root{
  --brand-blue: #637EF7;
  --shadow-blue: #506be5;
  --background-blue: #F7F8FC;
  --border-grey: #dcdcdc;;
  --text-grey: #9194A1;
  --text-black: #2C2D30;
  --main-font: 'Gothic A1', sans-serif;
}
