
@import url("https://fonts.googleapis.com/css?family=Karla");

:root{
  --brand-blue: #637EF7;
  --shadow-blue: #506be5;
  --background-blue: #F7F8FC;
  --border-grey: #dcdcdc;;
  --text-grey: #9194A1;
  --text-black: #292929;
  --main-font: 'Karla', sans-serif;
}
