
body{
  font-family: var(--main-font);
}

.auth-menu-container{
  display: flex;
  flex-direction: column;
}

#logo-container{
  width: 100vh;
  height: 10vh;
  background-color: blue;
}

.header-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: 22vh;
  justify-content: flex-end;
}

.header{
  color: var(--text-black);
  font-size: 1.8em;
}

.header-help-text {
  font-size: 0.8em;
  margin-top: 2%;
}

.menu-switch-text{
  font-size: 0.8em;
  color: var(--brand-blue);
}

.menu-switch-text:hover{
  cursor: pointer;
}

#inputs-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

#inputs-container input{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  font-size: 1em;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: var(--border-grey);
  font-family: var(--main-font);
  margin-top: 4%;
  margin-bottom: 4%;
}

#inputs-container input:focus{
  border-color: var(--brand-blue);
}

#inputs-container label{
  letter-spacing: 1px;
}

#btn-container{
  width: 70%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

#submit-btn{
  background-color: var(--brand-blue);
  border: transparent;
  width: 80%;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 3px;
}

#submit-btn:hover{
  cursor: pointer;
}
