
/* MAIN CSS FILE */

*{
  padding: 0;
  margin: 0;
}

#auth-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#left-box{
  width: 35%;
}

#right-box{
  width: 65%;
  background-color: purple;
}
